body {
    width: 80%;
    margin: auto;
    background-color:rgb(206, 0, 0);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }
  
  h1 {
    text-align: center;
    color: white;
    font-size: 120px;
    margin-bottom: 1px;
  }

  #AboutUs {
    margin-top: 0px;
    text-align: center;
    color: rgb(221, 220, 220);
    font-family:cursive;
    font-size: 20px;
    font-weight: lighter;
  }
  
  #container {
    display: flex;
    gap: 20px;
    background-color: black;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #all_products {
    flex: 1;
  }
  
  #all_products #card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #ddd;
    padding: 15px;
    background-color: black;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 15px;
    margin-bottom: 10px;
  }
  
  #all_products #card img {
    width: 100%;
    max-height: 350px;
    object-fit: contain;
  }
  
  #all_products#card h6 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
  }
  
  button#deleteButton {
    background-color: red;
    border: none;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button#deleteButton:hover {
    background-color: #ff4444;
  }
  
  button#editButton {
    background-color: #4caf50;
    border: none;
    color: #fff;
    padding: 8px 4px;
    cursor: pointer;
    transition: background-color 0.5s;
  }
  
  button#editButton:hover {
    background-color: #45a049;
  }
  
  #single_product {
    flex: 1;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #single_product img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
  }
  
  #single_product h5 {
    font-size: 40px;
    text-align: center;
    color: red;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  input[type="text"] {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }
  
  button[type="submit"] {
    background-color: black;
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
    color:white;
    padding: 10px 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 28px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  button[type="submit"]:hover {
    background-color: rgb(255, 191, 0);
    color: black;
    font-weight: bold;
    border: white;
    border: 20px;
  }

  #singleProductTitle {
    font-size: 30px;
    margin-bottom: 0%;
    margin-top: 10px;
    text-align: center;
  }

  #singleProductDescription {
    text-align: center;
    font-size: 28px;
  }

  h3 {
    font-weight: lighter;
    color: black;
    letter-spacing: 2px;
    font-size: 20px;

  }
/* body { 
    width: 70%;
    margin: auto;
    background-color: rgb(190, 190, 237);
}

#container {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

#container #all_products {
    display: flex;
    padding: 4px;
    width: 60%;
    background-color: rgb(179, 179, 214);
}

#card { 
    height: 40vh;
    width: 50%;
    border: 2px solid white;
}

#card img{
    width: 100%;
    height: 26vh;
}

#card img :hover {
    cursor: pointer;
}

#container #single_products {
    width: 40%;
    background-color: rgb(125, 125, 198);
}

#single_products img{
    width: 100%;
}

#deleteButton {
    display: block;
    background-color: red;
    border: none;
    color: white;
}

#deleteButton :hover {
    cursor: pointer;
}

 */




























/* 
how to achieve the live link for README
how to rectify CSS overlaping and spacing. 
how to link boot strap in addition to css
db.json ID number and sequence
some stylings for the card fixing
how can I freeze single product card. 
*/


