body {
    width: 85%;
    margin: auto;
    background-image: url(https://wallpaperaccess.com/full/1489205.jpg);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  h1 {
    text-align: center;
    color:rgb(255, 191, 0);
    font-size: 130px;
    margin-bottom: 1px;
    margin-top: 40px;
  }

  #AboutUs {
    margin-top: 0px;
    text-align: center;
    color: rgb(221, 220, 220);
    font-family:cursive;
    font-size: 20px;
    font-weight: lighter;
  }
  
  #container {
    display: flex;
    gap: 20px;
    background-color: black;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #all_products {
    flex: 1;
    height: 70vh;
    overflow: auto;
    gap: 50;
  }
  
  #all_products #card {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border: 3px solid #ddd;
    padding: 15px;
    background-color: black;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 40px 10px;
  }

  #buttonFormating {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 5px ;
  }
  
  #all_products #card img {
    width: 100%;
    max-height: 350px;
    object-fit: contain;
  }
  
  #all_products#card h6 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
  }
  
  button#deleteButton {
    background-color:transparent;
    border-color: red;
    border-radius: 8px;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 20px;
    letter-spacing: 1px;
  }
  
  button#deleteButton:hover {
    background-color:red;
  }
  
  button#editButton {
    background-color: white;
    border: red 20px;
    border-radius: 8px;
    font-size: 20px;
    color: black;
    padding: 8px 20px;
    cursor: pointer;
    transition: background-color 0.5s;
  }
  
  button#editButton:hover {
    background-color:rgb(255, 191, 0);
  }
  
  #single_product {
    flex: 1;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-image: url(https://i.ytimg.com/vi/R9mXtzn8meE/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGGUgZShlMA8=&rs=AOn4CLCeedv7NxoQMnXMcwenuC6SpodCfQ)
  }
  
  #single_product img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
  }
  
  #single_product h5 {
    font-size: 45px;
    text-align: center;
    color: rgb(255, 191, 0);
    letter-spacing: 2px;
    text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,  
    -1px 1px 0 black,  
    1px 1px 0 black;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  input[type="text"] {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }

  
  button[type="submit"] {
    background-color: rgb(255, 191, 0);
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
    color:black;
    padding: 10px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 28px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  button[type="submit"]:hover {
    background-color: red;
    color: white;
    font-weight: bold;
    border: white;
    border: 20px;
  }

  #singleProductTitle {
    font-size: 35px;
    margin-bottom: 0%;
    margin-top: 10px;
    text-align: center;
    color:red
  }

  #singleProductDescription {
    text-align: center;
    font-size: 28px;
    margin-top: 2px;
    color: black;
  }

  h3 {
    font-weight: lighter;
    color:rgb(255, 191, 0);
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 8px;
  }



































