body { 
    width: 70%;
    margin: auto;
    background-color: rgb(190, 190, 237);
}

#container {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

#container #all_products {
    display: flex;
    padding: 4px;
    width: 60%;
    background-color: rgb(179, 179, 214);
}

#card { 
    height: 40vh;
    width: 50%;
    border: 2px solid white;
}

#card img{
    width: 100%;
    height: 26vh;
}

#card img :hover {
    cursor: pointer;
}

#container #single_products {
    width: 40%;
    background-color: rgb(125, 125, 198);
}

#single_products img{
    width: 100%;
}

#deleteButton {
    display: block;
    background-color: red;
    border: none;
    color: white;
}

#deleteButton :hover {
    cursor: pointer;
}






























/* 
how to achieve the live link for README
how to make on click pic functionality to work without failure.
how to rectify CSS overlaping and spacing. 
how to link boot strap in addition to css
none of the events are working
For the delete element do I need to parse the response as JSON since I am not expecting a JSON response from a DELETE request. Can I remove the .then((response) => response.json()) part.
*/


